    <form id="form-game_v1" name="form-game_v1">
        <div class="typeahead__container">
            <div class="typeahead__field">
     
                <span class="typeahead__query">
                    <input class="js-typeahead-game_v1" name="game_v1[query]" type="search" placeholder="Search" autocomplete="off">
                </span>
                <span class="typeahead__button">
                    <button type="submit">
                        <i class="typeahead__search-icon"></i>
                    </button>
                </span>
     
            </div>
        </div>
    </form>
